body {
    background-color: white;
    background-image: url('../media/background_geral.png');
    background-repeat: repeat;
    background-attachment: fixed;
}

.back-img {
    opacity: 0.65;
}

.back-img-tag {
    position: absolute;
    top: 12rem;
}
