* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.banner-4966 {
    color: #fff;
    font-size: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    width: 1280px;
    height: 405px;
    background-color: gray;
    margin: auto;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    gap: 400px;
}

.banner-esq {
    display: grid;
    width: 400px;
    height: 300px;
    gap: 40px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding-left: 60px;
}

.banner-botao {
    width: 200px;
    height: 60px;
    border-radius: 25px;
    background-color: #C5E64F;
    background-image: url(../media/play.svg);
    background-repeat: no-repeat;
    background-position: 15%;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.banner-botao:hover {
    background-color: #C5E64F;
}

.banner-botao-texto {
    padding-left: 22px;
}

.img-fredy {
    width: 400px;
    height: 496px;
    position: relative;
    padding-bottom: 86px;
}