.fundo-historico {
    display: flex;
    justify-content: center;
    align-items: start;
    height: calc(100vh - 70px); 
    position: relative;
    z-index: 1; 
    margin-top: 5rem;
}

.historico-container {
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 75%;
    max-width: 1350px;
    z-index: 2; 
    position: relative;
}

.historico-tabela {
    width: 100%;
    border-collapse: collapse;
}

.historico-tabela thead {
    background-color: #eee;
}

.historico-tabela th, .historico-tabela td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.historico-tabela th {
    font-weight: bold;
}

.historico-tabela td {
    vertical-align: middle;
}

.historico-tabela td.alinhar-fotos {
    text-align: right; /* Alinha o conteúdo da célula à direita */
}

.historico-tabela a img, 
.historico-tabela button img {
    width: 25px; 
    height: 25px; 
    margin-right: 10px;
}

@media (max-width: 768px) {
    .historico-container {
        width: 95%;
        padding: 10px;
    }

    .historico-tabela th, .historico-tabela td {
        padding: 8px;
    }

    .historico-tabela {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .historico-container {
        width: 100%;
        padding: 5px;
    }

    .historico-tabela th, .historico-tabela td {
        padding: 5px;
    }

    .historico-tabela {
        font-size: 12px;
    }

    .historico-tabela thead {
        display: none; 
    }

    .historico-tabela tr {
        display: block;
        margin-bottom: 10px;
    }

    .historico-tabela td {
        display: block;
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .historico-tabela td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: 45%;
        padding-right: 10px;
        text-align: left;
        font-weight: bold;
    }
}

.search-container {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    position: relative;
}

#searchInput {
    width: 50px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #0a0606;
    border-radius: 25px;
    outline: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: width 0.5s, padding 0.5s, box-shadow 0.5s;
    background: url('../../static/media/search-icon.svg') no-repeat 15px center; 
    background-size: 20px;
    padding-left: 40px; 
    cursor: pointer;
}

#searchInput::placeholder {
    color: black;
}

.search-container:hover #searchInput,
#searchInput:focus {
    width: 80%;
    padding: 10px 20px 10px 40px;
    box-shadow: 0px 0px 10px rgba(62, 142, 208, 0.5);
    cursor: text;
    background: none;
}

#searchInput:focus {
    border-color: #3e8ed0;
    background: none;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination-controls button {
    background-color: #f1f1f1;
    border: none;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    margin: 0 4px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.pagination-controls button:hover {
    background-color: #ddd;
}

.pagination-controls button.active {
    background-color: #4CAF50;
    color: white;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-confirm {		
    color: #636363;
    width: 400px;
}
.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 14px;
}
.modal-confirm .modal-header {
    border-bottom: none;   
    position: relative;
}
.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -10px;
}
.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -2px;
}
.modal-confirm .modal-body {
    color: #999;
}
.modal-confirm .modal-footer {
    border: none;
    text-align: center;		
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
    color: #999;
}		
.modal-confirm .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
    color: #f15e5e;
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
}
.modal-confirm .btn, .modal-confirm .btn:active {
    color: #fff;
    border-radius: 4px;
    background: #60c7c1;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    min-width: 120px;
    border: none;
    min-height: 40px;
    border-radius: 3px;
    margin: 0 5px;
}
.modal-confirm .btn-secondary {
    background: #c1c1c1;
}
.modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
    background: #a8a8a8;
}
.modal-confirm .btn-danger {
    background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
    background: #ee3535;
}
