<!DOCTYPE html>
<html data-bs-theme="light" lang="pt-br">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CHAT</title>
    
    <!-- BootStrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- BootStrap -->
    
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %} ">
    <link rel="stylesheet" href="{% static 'css/Poppins.css' %}">
    <link rel="stylesheet" href="{% static 'css/Roboto.css' %}">
    <link rel="stylesheet" href="{% static 'css/Roboto%20Mono.css' %}">
    <link rel="stylesheet" href="{% static 'css/Roboto%20Slab.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
        .li {
            background-color: #fff;
        }
        .loading-dots-animation{
            display: inline-flex;
            padding-left: 25px ;
        }
        .loading-dots-animation .loading-dot{
            background: var(--text-color);
            height: 7px;
            width: 7px;
            border-radius: 50%;
            margin: 0 3px;
            opacity: 0.7;
            animation: MakeLoadingAnimation 1.5s ease-in-out var(--delay) infinite;
        }
        
        @keyframes MakeLoadingAnimation {
            0%, 44% {
                transform: translate(0px);
            }
            22%{
                opacity: 0.4;
                transform: translateY(-6px);
            }
            44% {
                opacity: 0.2;
            }
        }
    </style>
</head>
<body class="text-center d-flex flex-column align-items-center" style="width: 1920px;height: 1080px;min-width: auto;">
    <div class="container d-flex flex-column align-items-center" style="height: 850px;background: var(--bs-body-bg);width: 1380px;max-width: 1400px;border-radius: 30px;box-shadow: 1px 1px 5px var(--bs-form-valid-color);padding: 10px;">
        <div id="chat-container" class="text-start d-flex flex-column align-items-stretch" style="width: 100%;height: 750px;color: #000000;margin: 5px;border-radius: 15px;box-shadow: 2px 2px 6px rgb(120,120,120);padding: 20px;font-size: 17px;font-family: Poppins, sans-serif;background: linear-gradient(90deg, rgba(255, 238, 214, 1) 90%, rgb(238,205,158) 100%);overflow-y: auto;">
            <div class="d-flex d-xxl-flex justify-content-xxl-center" style="height: 35%;width: 90%;padding: 1px;margin: 15px;display: initial;">
                <div class="col d-grid" style="width: 30%;padding: 0px;display: grid;border-style: none;">
                    <button class="text-start d-inline" style="background-color: transparent; text-decoration: none; margin: 5px;border-radius: 15px;border-style: solid;border-color: rgba(186, 147, 89, 1);padding-top: 20px;padding-left: 20px;width: 98%;height: 90%;">
                        <strong style="font-size: 17px;font-family: Poppins, sans-serif;color: rgba(67, 83, 52, 1);">Lorem ipsum dolor sit amet.</strong>
                        <p style="font-size: 17px;font-family: Poppins, sans-serif;color: rgba(132, 151, 113, 1);">Paragraph</p>
                    </button>
                    <button class="text-start d-inline" style="background-color: transparent;text-decoration: none;margin: 5px;border-radius: 15px;border-style: solid;border-color: rgba(186, 147, 89, 1);padding-top: 20px;padding-left: 20px;width: 98%;height: 90%;">
                        <strong style="font-size: 17px;font-family: Poppins, sans-serif;color: rgba(67, 83, 52, 1);">Give me ideas</strong>
                        <p style="font-size: 17px;font-family: Poppins, sans-serif;color: rgba(132, 151, 113, 1);">for what to do with my kid’s art</p>
                    </button>
                </div>
                <div class="col d-grid" style="width: 30%;padding-right: 10px;padding-left: 10px;display: grid;border-style: none;">
                    <button class="text-start d-inline" style="background-color: transparent;text-decoration: none;margin: 5px;border-radius: 15px;border-style: solid;border-color: rgba(186, 147, 89, 1);padding-top: 20px;padding-left: 20px;width: 98%;height: 90%;">
                        <strong style="font-size: 17px;font-family: Poppins, sans-serif;color: rgba(67, 83, 52, 1);">Lorem ipsum dolor sit amet.</strong>
                        <p style="font-size: 17px;font-family: Poppins, sans-serif;color: rgba(132, 151, 113, 1);">Eum fuga incidunt nam itaque cumque</p>
                    </button>
                    <button class="text-start d-inline" style="background-color: transparent;text-decoration: none;margin: 5px;border-radius: 15px;border-style: solid;border-color: rgba(186, 147, 89, 1);padding-top: 20px;padding-left: 20px;width: 98%;height: 90%;">
                        <strong style="font-size: 17px;font-family: Poppins, sans-serif;color: rgba(67, 83, 52, 1);">Come up with concepts</strong>
                        <p style="font-size: 17px;font-family: Poppins, sans-serif;color: rgba(132, 151, 113, 1);">for a retro style arcade game</p>
                    </button>
                </div>
                <div class="col d-grid" style="width: 30%;display: grid;border-style: none;">
                    <button class="text-start d-inline" style="background-color: transparent;text-decoration: none;margin: 5px;border-radius: 15px;border-style: solid;border-color: rgba(186, 147, 89, 1);padding-top: 20px;padding-left: 20px;width: 98%;height: 90%;">
                        <strong style="font-size: 17px;font-family: Poppins, sans-serif;color: rgba(67, 83, 52, 1);">Lorem ipsum dolor sit amet.</strong>
                        <p style="font-size: 17px;font-family: Poppins, sans-serif;color: rgba(132, 151, 113, 1);">Eum fuga incidunt nam itaque cumque</p>
                    </button>
                    <button class="text-start d-inline" style="background-color: transparent;text-decoration: none;margin: 5px;border-radius: 15px;border-style: solid;border-color: rgba(186, 147, 89, 1);padding-top: 20px;padding-left: 20px;width: 98%;height: 90%;">
                        <strong style="font-size: 17px;font-family: Poppins, sans-serif;color: rgba(67, 83, 52, 1);">Explain why popcorn pops</strong>
                        <p style="font-size: 17px;font-family: Poppins, sans-serif;color: rgba(132, 151, 113, 1);">to a kid who loves to watch in the micro</p>
                    </button>
                </div>
            </div>
            <!-- Lista de mensagens do chat -->
            <ul id="chat-list" style="list-style-type: none; padding: 0; margin: 0; width: 100%;">
            </ul>
        </div>
        <div class="d-flex align-items-center" style="width: 100%;margin-top: 10px;">
            <!-- Campo de entrada para o prompt -->
            <input id="prompt-input" class="form-control-lg flex-grow-1" type="text" style="height: 55px;border-radius: 15px;box-shadow: 2px 2px 6px rgb(120,120,120);font-family: Poppins, sans-serif;font-size: 16px;font-weight: bold;color: var(--bs-secondary-text-emphasis);border-style: none;border-color: var (--bs-body-bg);background: linear-gradient(90deg, rgba(255, 238, 214, 1) 80%, rgb(238,205,158) 100%);" placeholder="Enter a prompt here..." autocomplete="on">
            <!-- Botão de envio fixo -->
            <button id="fixed-button" class="btn btn-primary d-flex justify-content-center align-items-center" data-bss-hover-animate="pulse" type="button" style="background: rgba(67, 83, 52, 1);width: 75px;height: 55px;border-radius: 15px;margin-left: 10px;">
                <img src="{% static 'media/paper-plane.png' %}" style="width: 23px;" width="23" height="25">
                <span id="theme-btn" class="material-symbols-rounded">light_mode</span>
            </button>
        </div>
    </div>
    <style>
        #chat-container {
            justify-content:flex-end;   


        }
 
        
    </style>

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bs-init.js' %}"></script>
    <script>
        require('dotenv').config();

        function TypingAnimation() {
            const html = `<div class="chat-content-box">
                            <div class="chat-details">
                                <img src="https://i.ibb.co/0VDMm2X/chatbot.jpg" alt="chatbot-image">
                                <div class="loading-dots-animation">
                                    <div class="loading-dot" style="--delay:0.2s;"></div>
                                    <div class="loading-dot" style="--delay:0.3s;"></div>
                                    <div class="loading-dot" style="--delay:0.4s;"></div>
                                </div>
                            </div> 
                            <span onclick="CopyResponses(this)" class="material-symbols-rounded">content_copy</span>
                        </div>`;
            return html;
        }
        
        function handleButtonClick(event) {
        
            var button = event.currentTarget;
            
            var buttonText = button.querySelector('strong').textContent;
            
            addMessageToChat(buttonText);
            
            sendRequest(buttonText);
            
            var buttons = document.querySelectorAll('button');
            buttons.forEach(function(btn) {
                if (!btn.id || btn.id !== 'fixed-button') {
                    btn.remove();
                }
            });
        }

        
        function handleFixedButtonClick() {
            const input = document.getElementById('prompt-input');
            const message = input.value.trim();
            if (message !== '') {
                
                addMessageToChat(message);
                
                sendRequest(message);
                
                input.value = '';
            }
        }

        document.querySelectorAll('button').forEach(function(button) {
            if (!button.id || button.id !== 'fixed-button') {
                button.addEventListener('click', handleButtonClick);
            }
        });

        document.getElementById('fixed-button').addEventListener('click', handleFixedButtonClick);

        document.addEventListener('DOMContentLoaded', () => {
            localStorage.removeItem('All-Chats');
            document.getElementById('chat-list').innerHTML = '';
        });

        function addMessageToChat(message) {
            const chatList = document.getElementById('chat-list');
            const messageItem = document.createElement('li');
            messageItem.textContent = message;
            messageItem.style.margin = '10px 0'; 
            messageItem.style.padding = '10px';
            messageItem.style.borderRadius = '50px';
            messageItem.style.background = '#F5DEB3';
            messageItem.style.boxShadow = '2px 2px 6px rgb(120,120,120)';
            messageItem.style.textAlign = 'center';
            messageItem.style.display = 'center';
         
           

            chatList.appendChild(messageItem);

            
            
            const ChatContainer = document.getElementById('chat-container');
            ChatContainer.scrollTo(0, ChatContainer.scrollHeight);

            
            localStorage.setItem("All-Chats", chatList.innerHTML);
        }

        
        async function sendRequest(message) {
            const Api_URL = process.env.API_URL;
            let PElement = document.createElement("p");

            const RequestOptions = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': process.env.OPENAI_API_KEY 
                },
                body: JSON.stringify({
                    "model": "text-davinci-003",
                    "prompt": message,
                    "max_tokens": 2048,
                    "temperature": 0.2
                    
                })
            };

            try {
                
                const Responses = await (await fetch(Api_URL, RequestOptions)).json();
                PElement.textContent = Responses.choices[0].text.trim();
            } catch (error) {
                PElement.classList.add("error");
                PElement.innerText = "error ";

            }
            
            
            

            
            const chatList = document.getElementById('chat-list');
            const messageItem = document.createElement('li');
            messageItem.style.margin = '10px 0 ';
            messageItem.style.padding = '5px';
            messageItem.style.borderRadius = '50px';
            messageItem.style.background = '#DEB887'; 
            messageItem.appendChild(PElement);
            chatList.appendChild(messageItem);
            messageItem.style.boxShadow = '2px 2px 6px rgb(120,120,120)';
            messageItem.style.textAlign = 'center';
            messageItem.style.display = 'center';
            messageItem.style.color = '#FF0000';


            
            const ChatContainer = document.getElementById('chat-container');
            ChatContainer.scrollTo(0, ChatContainer.scrollHeight);

        
            localStorage.setItem("All-Chats", chatList.innerHTML);
        }
    </script>
</body>
</html>