{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/dados.css' %}">
    <title>Homepage</title>
    <script>
        function updateButtonText() {
            var selectedOptions = [];
            var checkboxes = document.querySelectorAll('.dropdown-content input[type="checkbox"]:checked');
            checkboxes.forEach(function(checkbox) {
                selectedOptions.push(checkbox.parentElement.textContent.trim());
            });
            var button = document.querySelector('.button-drop');
            if (selectedOptions.length > 0) {
                button.textContent = selectedOptions.join(', ');
            } else {
                button.textContent = 'Dados';
            }
        }
    </script>
</head>
<body>
    {% include 'base/header.html' %}
    {% include 'base/sidebar.html' %}
    <section class="fundo-div">
        <!-- Botões no canto -->
        <div class="button-group">
            <button class="btn-left">Entrada</button>
            <button class="btn-left">Saida</button>
            <button class="btn-gerar">Gerar</button>
        </div> 
        <div class="div-dados">
            <div class="dropdown">
                <button class="button-drop" onclick="updateButtonText()">
                    Dados <img src="{% static 'media/dropdown-svgrepo-com.svg' %}" alt="Dropdown" class="button-icon">
                </button>                
                <div class="dropdown-content">
                    <label><input type="checkbox" onchange="updateButtonText()"> Opção 1</label>
                    <label><input type="checkbox" onchange="updateButtonText()"> Opção 2</label>
                    <!-- Adicione mais opções de acordo com sua necessidade -->
                </div>
            </div>
        </div>     
        <div class="input-output">
            <textarea class="input-box" placeholder="Digite aqui..."></textarea>
            <div class="output-box" >{{ response }}</div>
        </div>        
    </section>
    <div>
        {% include 'base/background.html' %}
    </div>
</body>
</html>
