<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://kit.fontawesome.com/65f22fe718.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="app/css/footer.css"> 
</head>
<body>
   
<footer class="text-center text-lg-start text-muted">
    <section class="container text-left text-md-start mt-7">
        <div class="row">
            <div class="col-md-3 mx-auto mb-4">
                <img src="https://cdn.privacytools.com.br/assets/36dd49e5-6c2f-4121-9149-62df5983dd48/banner/DC1FD719AC718B6FD77A76E458520998.jpeg" class="fixed-image" onclick="this.parentElement.click(); return false;">
                <img src="https://www.banese.com.br/conteudo/uploads/2021/09/logo.banese.white_.svg" alt="Banco Banese" class="bp__logo--image">
                <p class="bp__text--sm pt-lg-5"><strong>© Banese Labs 2024</strong></p>
            </div>
            <div class="col-md-9 mx-auto mb-0">
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-10">rede socias</h6>
                    <address>
                        <p><i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/israel-guilherme-7445b1196/" target="_blank" class="footer-link">israel guilherme</a></p>
                        <p><i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/julio-rafael-souza/" target="_blank" class="footer-link">julio rafael</a></p>
                        <p><i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/jorge-lucas-4674341bb/" target="_blank" class="footer-link">jorge lucas</a></p>
                        <p><i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/romulomsantana/" target="_blank" class="footer-link">romulo menezes</a></p>
                    </address>
                    <ul class="bp__list d-lg-flex align-items-lg-end pt-4 pt-lg-0">
                        <li class="me-lg-4"><a href="#"><strong>Política de privacidade</strong></a></li>
                            <li class="me-lg-4"><a href="#"><strong>Segurança</strong></a></li>
                            <li class="me-lg-4"><a href="#"><strong>LGPD</strong></a></li>
                            <li class="me-lg-4"><a href="#"><strong>Direitos do titular</strong></a></li>
                    </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>
</body>
</html>