{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav class="nav-header">
            <div class="logo-banese retangulo">
                <img src="{% static 'media/logo-banesesvg.svg' %}" alt="logo banese" class="img--banese">
            </div>

            <div class="botoes-header">
                <a href="#" class="botao-comum">Início</a>
                <a href="#" class="botao-comum">Navegar</a>
                <a href="#" class="botao-comum">Cadastro</a>
                <a href="#" class="botao-logout"><span class="material-symbols-outlined">logout</span>Logout</a>
            </div>
        </nav>
    </body>
</html>