{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Homepage</title>
</head>
<body>
    {% include 'base/header.html' %}

    {% include 'base/sidebar.html' %}
    
    <section class="banner-4966">
        <div class="banner-esq">
            <h1>IA aplicada à criação de casos de teste para a normativa 4966</h1>
            <button class="banner-botao">Como usar</button>
        </div>
        <div class="banner-dir">
            <img src="../../static/media/fredy.png" alt="" class="img-fredy">
        </div>
    </section>
    
    
    <div>
        {% include 'base/background.html' %}
    </div>

</body>
</html>